@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-w_maZnPlZxmh_font-family: "Inter", sans-serif;
  --mixin-w_maZnPlZxmh_font-size: 16px;
  --mixin-w_maZnPlZxmh_font-weight: 400;
  --mixin-w_maZnPlZxmh_font-style: normal;
  --mixin-w_maZnPlZxmh_text-align: left;
  --mixin-w_maZnPlZxmh_text-transform: none;
  --mixin-w_maZnPlZxmh_line-height: 1.5;
  --mixin-w_maZnPlZxmh_letter-spacing: normal;
  --mixin-w_maZnPlZxmh_white-space: pre-wrap;
  --mixin-w_maZnPlZxmh_user-select: text;
  --mixin-w_maZnPlZxmh_text-decoration-line: none;
  --mixin-w_maZnPlZxmh_text-overflow: clip;
  --mixin-w_maZnPlZxmh_color: #000000;
  --mixin-zBZFTTc_ChWG_font-weight: 700;
  --mixin-zBZFTTc_ChWG_font-size: 64px;
  --mixin-zBZFTTc_ChWG_line-height: 1;
  --mixin-zBZFTTc_ChWG_letter-spacing: -1px;
  --mixin-zBZFTTc_ChWG_white-space: pre-wrap;
  --mixin-g7C5arijCo3R_font-size: 48px;
  --mixin-g7C5arijCo3R_font-weight: 700;
  --mixin-g7C5arijCo3R_letter-spacing: -0.5px;
  --mixin-g7C5arijCo3R_line-height: 1.1;
  --mixin-g7C5arijCo3R_white-space: pre-wrap;
  --mixin-nFVZFogEb4T9_color: #0070f3;
  --mixin-nFVZFogEb4T9_white-space: pre-wrap;
  --mixin-k4oVCO_JnSS1_font-size: 32px;
  --mixin-k4oVCO_JnSS1_font-weight: 600;
  --mixin-k4oVCO_JnSS1_line-height: 1.2;
  --mixin-k4oVCO_JnSS1_white-space: pre-wrap;
  --mixin-X_A27n3E3cvo_font-size: 24px;
  --mixin-X_A27n3E3cvo_font-weight: 600;
  --mixin-X_A27n3E3cvo_line-height: 1.3;
  --mixin-X_A27n3E3cvo_white-space: pre-wrap;
  --mixin-ckRwMZU7xXFd_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ckRwMZU7xXFd_border-bottom-color: #dddddd;
  --mixin-ckRwMZU7xXFd_border-bottom-style: solid;
  --mixin-ckRwMZU7xXFd_border-bottom-width: 1px;
  --mixin-ckRwMZU7xXFd_border-left-color: #dddddd;
  --mixin-ckRwMZU7xXFd_border-left-style: solid;
  --mixin-ckRwMZU7xXFd_border-left-width: 1px;
  --mixin-ckRwMZU7xXFd_border-right-color: #dddddd;
  --mixin-ckRwMZU7xXFd_border-right-style: solid;
  --mixin-ckRwMZU7xXFd_border-right-width: 1px;
  --mixin-ckRwMZU7xXFd_border-top-color: #dddddd;
  --mixin-ckRwMZU7xXFd_border-top-style: solid;
  --mixin-ckRwMZU7xXFd_border-top-width: 1px;
  --mixin-ckRwMZU7xXFd_border-bottom-left-radius: 3px;
  --mixin-ckRwMZU7xXFd_border-bottom-right-radius: 3px;
  --mixin-ckRwMZU7xXFd_border-top-left-radius: 3px;
  --mixin-ckRwMZU7xXFd_border-top-right-radius: 3px;
  --mixin-ckRwMZU7xXFd_font-family: "Inconsolata";
  --mixin-ckRwMZU7xXFd_padding-bottom: 1px;
  --mixin-ckRwMZU7xXFd_padding-left: 4px;
  --mixin-ckRwMZU7xXFd_padding-right: 4px;
  --mixin-ckRwMZU7xXFd_padding-top: 1px;
  --mixin-ckRwMZU7xXFd_white-space: pre-wrap;
  --mixin-FT3TbzI8icGY_border-left-color: #dddddd;
  --mixin-FT3TbzI8icGY_border-left-style: solid;
  --mixin-FT3TbzI8icGY_border-left-width: 3px;
  --mixin-FT3TbzI8icGY_color: #888888;
  --mixin-FT3TbzI8icGY_padding-left: 10px;
  --mixin-FT3TbzI8icGY_white-space: pre-wrap;
  --mixin-g8s0y7iY5yfV_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-g8s0y7iY5yfV_border-bottom-color: #dddddd;
  --mixin-g8s0y7iY5yfV_border-bottom-style: solid;
  --mixin-g8s0y7iY5yfV_border-bottom-width: 1px;
  --mixin-g8s0y7iY5yfV_border-left-color: #dddddd;
  --mixin-g8s0y7iY5yfV_border-left-style: solid;
  --mixin-g8s0y7iY5yfV_border-left-width: 1px;
  --mixin-g8s0y7iY5yfV_border-right-color: #dddddd;
  --mixin-g8s0y7iY5yfV_border-right-style: solid;
  --mixin-g8s0y7iY5yfV_border-right-width: 1px;
  --mixin-g8s0y7iY5yfV_border-top-color: #dddddd;
  --mixin-g8s0y7iY5yfV_border-top-style: solid;
  --mixin-g8s0y7iY5yfV_border-top-width: 1px;
  --mixin-g8s0y7iY5yfV_border-bottom-left-radius: 3px;
  --mixin-g8s0y7iY5yfV_border-bottom-right-radius: 3px;
  --mixin-g8s0y7iY5yfV_border-top-left-radius: 3px;
  --mixin-g8s0y7iY5yfV_border-top-right-radius: 3px;
  --mixin-g8s0y7iY5yfV_font-family: "Inconsolata";
  --mixin-g8s0y7iY5yfV_padding-bottom: 3px;
  --mixin-g8s0y7iY5yfV_padding-left: 6px;
  --mixin-g8s0y7iY5yfV_padding-right: 6px;
  --mixin-g8s0y7iY5yfV_padding-top: 3px;
  --mixin-g8s0y7iY5yfV_white-space: pre-wrap;
  --mixin-o7PHgKP2ThQL_display: flex;
  --mixin-o7PHgKP2ThQL_flex-direction: column;
  --mixin-o7PHgKP2ThQL_align-items: stretch;
  --mixin-o7PHgKP2ThQL_justify-content: flex-start;
  --mixin-o7PHgKP2ThQL_list-style-position: outside;
  --mixin-o7PHgKP2ThQL_padding-left: 40px;
  --mixin-o7PHgKP2ThQL_position: relative;
  --mixin-o7PHgKP2ThQL_list-style-type: disc;
  --mixin-o7PHgKP2ThQL_white-space: pre-wrap;
  --mixin-gcbSpLCdQ_e2_display: flex;
  --mixin-gcbSpLCdQ_e2_flex-direction: column;
  --mixin-gcbSpLCdQ_e2_align-items: stretch;
  --mixin-gcbSpLCdQ_e2_justify-content: flex-start;
  --mixin-gcbSpLCdQ_e2_list-style-position: outside;
  --mixin-gcbSpLCdQ_e2_padding-left: 40px;
  --mixin-gcbSpLCdQ_e2_position: relative;
  --mixin-gcbSpLCdQ_e2_list-style-type: decimal;
  --mixin-gcbSpLCdQ_e2_white-space: pre-wrap;
  --mixin-x83qrJWzmMxo_font-size: 20px;
  --mixin-x83qrJWzmMxo_font-weight: 600;
  --mixin-x83qrJWzmMxo_line-height: 1.5;
  --mixin-x83qrJWzmMxo_white-space: pre-wrap;
  --mixin-aDj3VNoMJ0Vl_font-size: 16px;
  --mixin-aDj3VNoMJ0Vl_font-weight: 600;
  --mixin-aDj3VNoMJ0Vl_line-height: 1.5;
  --mixin-aDj3VNoMJ0Vl_white-space: pre-wrap;
  --mixin-CxdkGe9cO1zB_color: #3291ff;
  --mixin-CxdkGe9cO1zB_white-space: pre-wrap;
  --mixin-3uMIO_WRwDTt_white-space: pre-wrap;
  --mixin-zcZ5FsDvCQgi_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.i) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text i) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.em) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text em) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.strong) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text strong) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-w_maZnPlZxmh_font-family);
  font-size: var(--mixin-w_maZnPlZxmh_font-size);
  font-weight: var(--mixin-w_maZnPlZxmh_font-weight);
  font-style: var(--mixin-w_maZnPlZxmh_font-style);
  color: var(--mixin-w_maZnPlZxmh_color);
  text-align: var(--mixin-w_maZnPlZxmh_text-align);
  text-transform: var(--mixin-w_maZnPlZxmh_text-transform);
  line-height: var(--mixin-w_maZnPlZxmh_line-height);
  letter-spacing: var(--mixin-w_maZnPlZxmh_letter-spacing);
  white-space: var(--mixin-w_maZnPlZxmh_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-weight: var(--mixin-zBZFTTc_ChWG_font-weight);
  font-size: var(--mixin-zBZFTTc_ChWG_font-size);
  line-height: var(--mixin-zBZFTTc_ChWG_line-height);
  letter-spacing: var(--mixin-zBZFTTc_ChWG_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-size: var(--mixin-g7C5arijCo3R_font-size);
  font-weight: var(--mixin-g7C5arijCo3R_font-weight);
  letter-spacing: var(--mixin-g7C5arijCo3R_letter-spacing);
  line-height: var(--mixin-g7C5arijCo3R_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-nFVZFogEb4T9_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-size: var(--mixin-k4oVCO_JnSS1_font-size);
  font-weight: var(--mixin-k4oVCO_JnSS1_font-weight);
  line-height: var(--mixin-k4oVCO_JnSS1_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-size: var(--mixin-X_A27n3E3cvo_font-size);
  font-weight: var(--mixin-X_A27n3E3cvo_font-weight);
  line-height: var(--mixin-X_A27n3E3cvo_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-ckRwMZU7xXFd_font-family);
  border-radius: var(--mixin-ckRwMZU7xXFd_border-top-left-radius)
    var(--mixin-ckRwMZU7xXFd_border-top-right-radius)
    var(--mixin-ckRwMZU7xXFd_border-bottom-right-radius)
    var(--mixin-ckRwMZU7xXFd_border-bottom-left-radius);
  padding: var(--mixin-ckRwMZU7xXFd_padding-top)
    var(--mixin-ckRwMZU7xXFd_padding-right)
    var(--mixin-ckRwMZU7xXFd_padding-bottom)
    var(--mixin-ckRwMZU7xXFd_padding-left);
  border-top: var(--mixin-ckRwMZU7xXFd_border-top-width)
    var(--mixin-ckRwMZU7xXFd_border-top-style)
    var(--mixin-ckRwMZU7xXFd_border-top-color);
  border-right: var(--mixin-ckRwMZU7xXFd_border-right-width)
    var(--mixin-ckRwMZU7xXFd_border-right-style)
    var(--mixin-ckRwMZU7xXFd_border-right-color);
  border-bottom: var(--mixin-ckRwMZU7xXFd_border-bottom-width)
    var(--mixin-ckRwMZU7xXFd_border-bottom-style)
    var(--mixin-ckRwMZU7xXFd_border-bottom-color);
  border-left: var(--mixin-ckRwMZU7xXFd_border-left-width)
    var(--mixin-ckRwMZU7xXFd_border-left-style)
    var(--mixin-ckRwMZU7xXFd_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-FT3TbzI8icGY_color);
  padding-left: var(--mixin-FT3TbzI8icGY_padding-left);
  border-left: var(--mixin-FT3TbzI8icGY_border-left-width)
    var(--mixin-FT3TbzI8icGY_border-left-style)
    var(--mixin-FT3TbzI8icGY_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-g8s0y7iY5yfV_font-family);
  border-radius: var(--mixin-g8s0y7iY5yfV_border-top-left-radius)
    var(--mixin-g8s0y7iY5yfV_border-top-right-radius)
    var(--mixin-g8s0y7iY5yfV_border-bottom-right-radius)
    var(--mixin-g8s0y7iY5yfV_border-bottom-left-radius);
  padding: var(--mixin-g8s0y7iY5yfV_padding-top)
    var(--mixin-g8s0y7iY5yfV_padding-right)
    var(--mixin-g8s0y7iY5yfV_padding-bottom)
    var(--mixin-g8s0y7iY5yfV_padding-left);
  border-top: var(--mixin-g8s0y7iY5yfV_border-top-width)
    var(--mixin-g8s0y7iY5yfV_border-top-style)
    var(--mixin-g8s0y7iY5yfV_border-top-color);
  border-right: var(--mixin-g8s0y7iY5yfV_border-right-width)
    var(--mixin-g8s0y7iY5yfV_border-right-style)
    var(--mixin-g8s0y7iY5yfV_border-right-color);
  border-bottom: var(--mixin-g8s0y7iY5yfV_border-bottom-width)
    var(--mixin-g8s0y7iY5yfV_border-bottom-style)
    var(--mixin-g8s0y7iY5yfV_border-bottom-color);
  border-left: var(--mixin-g8s0y7iY5yfV_border-left-width)
    var(--mixin-g8s0y7iY5yfV_border-left-style)
    var(--mixin-g8s0y7iY5yfV_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-o7PHgKP2ThQL_display);
  flex-direction: var(--mixin-o7PHgKP2ThQL_flex-direction);
  align-items: var(--mixin-o7PHgKP2ThQL_align-items);
  justify-content: var(--mixin-o7PHgKP2ThQL_justify-content);
  list-style-position: var(--mixin-o7PHgKP2ThQL_list-style-position);
  padding-left: var(--mixin-o7PHgKP2ThQL_padding-left);
  position: var(--mixin-o7PHgKP2ThQL_position);
  list-style-type: var(--mixin-o7PHgKP2ThQL_list-style-type);
  column-gap: var(--mixin-o7PHgKP2ThQL_column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-gcbSpLCdQ_e2_display);
  flex-direction: var(--mixin-gcbSpLCdQ_e2_flex-direction);
  align-items: var(--mixin-gcbSpLCdQ_e2_align-items);
  justify-content: var(--mixin-gcbSpLCdQ_e2_justify-content);
  list-style-position: var(--mixin-gcbSpLCdQ_e2_list-style-position);
  padding-left: var(--mixin-gcbSpLCdQ_e2_padding-left);
  position: var(--mixin-gcbSpLCdQ_e2_position);
  list-style-type: var(--mixin-gcbSpLCdQ_e2_list-style-type);
  column-gap: var(--mixin-gcbSpLCdQ_e2_column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-size: var(--mixin-x83qrJWzmMxo_font-size);
  font-weight: var(--mixin-x83qrJWzmMxo_font-weight);
  line-height: var(--mixin-x83qrJWzmMxo_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-size: var(--mixin-aDj3VNoMJ0Vl_font-size);
  font-weight: var(--mixin-aDj3VNoMJ0Vl_font-weight);
  line-height: var(--mixin-aDj3VNoMJ0Vl_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-CxdkGe9cO1zB_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
